@use 'sass:math' as math;

.ds-nav {

  & {
    text-align: left;
  }

  &__list {
    @include reset-ul();
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: (-$size-small);
    @include breakpoint(L) {
      // margin-left: (-$size-default);
    }
  }

  &__list-item {

    @include reset-li();

    &--active {
      font-weight: bold;
    }

    &--first {
      .ds-home & {
        font-weight: bold; // TODO: this is a massive hack. Ask me sometime why
      }
    }

    &:last-child {
      margin-right: 0;
    }

  }

  &__link {

    & {

      display: block;
      @include font-size(2);
      text-decoration: none;
      color: $color-fds-white;
      padding: math.div($size-base, 2) $size-small;

      @include breakpoint(M) {
        @include font-size(3);
      }
      @include breakpoint(L) {
        padding: $size-small;
      }

    }

    &:active,
    &:hover,
    &:hover:visited,
    &:visited {
      color: $color-fds-white;
    }

    &:hover {
      text-decoration: underline;
    }

  }

}
